html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.image{
    margin-left: 1vw;
    height: 7vh;
}
.bell{
    height:1.5em;
    margin-right:1.5vw
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F6;
    height:9vh;
    border-bottom: 1px solid rgba(212,218,220,.522)
}
.header-fixed{
    position: sticky;
}

.titleAndLogo{
    display: flex;
    align-items: center;
}
.title{
    margin-left: 0.5em;
    font-family: "Poppins", serif;
    color: #1c344f;
    
}