.SidePanelContainer{
    
    width: 25em;
    background-color:white;
    border: 2px solid #a0a096;
    vertical-align: middle;
    max-width: 100%;
    align-self: center;
    height: 19em;
    margin-bottom: 1em;
    box-sizing: border-box;
    /* why is this not aligning with the calendar :/ */
}


.event-title{
    background-color: lightgray;
    text-align: center;
    font-family:'Poppins', serif;
    color: black;
}